<br />
<div class="happy-box col-8 offset-2">
<h3>Nominate Your Sportsperson!</h3>
<br />
<%= simple_form_for @player do |x| %>
	<%= x.input :name, :label => "Name: " %>
	<%= x.input :team, :label => "Team(s): " %>
	<%= x.input :moment, :label => "Accomplishments: " %>
	<%= x.submit 'Submit!', class: 'btn btn-success' %>
	<br />
	<br />
	<%= link_to 'Return', root_path %>
<% end %>
</div>

